.headerContainer {
  background: #1B1B1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  padding: 20px 0;
}

.headerContainer h2 {
  color: white;
  padding-left: 6px;
}

.headerContainer ul {
  display: flex;
  justify-content: flex-end;
  flex: wrap;
}

.headerContainer ul li {
  list-style: none;
  padding-right: 15px;
}

.headerContainer ul li a {
  color: white;
  text-decoration: none;
}

.headerContainer ul li a:hover {
  color: darkorange;
  font-size: 25px;
}