.headerContainer {
  background: rgb(39, 61, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  padding: 20px 0;
}

.headerContainer h2 {
  color: white;
  padding-left: 6px;
}

.headerContainer ul {
  display: flex;
  justify-content: flex-end;
  flex: wrap;
}

.headerContainer ul li {
  list-style: none;
  padding-right: 15px;
}

.headerContainer ul li a {
  color: white;
  text-decoration: none;
}

.headerContainer ul li a:hover {
  color: black;
  font-size: 25px;
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
    background-color: aqua;
  }
  .nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
    top: 4vh;
    background: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.9s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}
.nav-active{
  transform: translateX(0%);
}
