.todoItems {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 5px 0px;
  align-items: center;
  background: whitesmoke;
}

.removeButton {
  background:rgb(47, 53, 38);
  border: 0px;
  padding: 5px;
  border-radius: 6px;
  text-transform: uppercase;
  color: white;
}

.removeButton:hover {
  background: black;
  color: white;
}